# 1 - Importing libraries

In [109]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import functions as F
from pyspark.sql.functions import *
import numpy as np
import basedosdados as bd
import os

# 2 - Initializing Spark Session

In [110]:
spark = SparkSession.builder \
    .appName("Revenue By State ETL") \
    .config("spark.executor.memory", "4g") \
    .config("spark.executor.cores", "2") \
    .config("spark.driver.memory", "4g") \
    .config("spark.sql.shuffle.partitions", "200") \
    .config("spark.default.parallelism", "100") \
    .getOrCreate()

# 3 - Extracting

## 3.1 - Scraping file

In [ ]:
from script.arrecadacao_estado_scrap_file import FileHandlerArrecadacaoEstado
scrap = FileHandlerArrecadacaoEstado("C:\RevenueByState\data")

paths = os.listdir("C:\RevenueByState")
name_path = scrap.download_dir[scrap.download_dir.rfind('\\') + 1:]

if name_path not in paths:
    scrap.download_file()
elif "arrecadacao-estado.csv" not in os.listdir(scrap.download_dir):
    scrap.download_file()
else:
    print("Already exists!")

## 3.2 - Getting another resources (from https://basedosdados.org/)

In [111]:
population_states_df = bd.read_table(
dataset_id='br_ibge_populacao',
table_id='uf',
billing_project_id="revenue-etl"
)

Downloading: 100%|██████████| 837/837 [00:00<00:00, 1494.65rows/s]

In [112]:
print(population_states_df)

    sigla_uf   ano  populacao  populacao_economicamente_ativa
0         AC  1991     417102                            <NA>
1         AL  1991    2512658                            <NA>
2         AM  1991    2102766                            <NA>
3         AP  1991     289035                            <NA>
4         BA  1991   11867336                            <NA>
..       ...   ...        ...                             ...
832       RS  2021   11466630                            9533
833       SC  2021    7338473                            5947
834       SE  2021    2338474                            1873
835       SP  2021   46649132                           38573
836       TO  2021    1607363                            1258

[837 rows x 4 columns]

In [113]:
inflation_df = bd.read_table(dataset_id='br_ibge_inpc',
table_id='mes_brasil',
billing_project_id="revenue-etl"
)

Downloading: 100%|██████████| 538/538 [00:00<00:00, 1577.70rows/s]

In [114]:
print(inflation_df)

      ano  mes        indice  variacao_mensal  variacao_trimestral  \
0    1979    3  5.576500e-09              NaN                  NaN
1    1979    4  5.768900e-09             3.45                  NaN
2    1979    5  5.870400e-09             1.76                  NaN
3    1979    6  6.046500e-09             3.00                 8.43
4    1979    7  6.370500e-09             5.36                10.43
..    ...  ...           ...              ...                  ...
533  2023    7  6.880170e+03            -0.09                 0.17
534  2023    9  6.901510e+03             0.11                 0.22
535  2023   10  6.909790e+03             0.12                 0.43
536  2023   11  6.916700e+03             0.10                 0.33
537  2023   11  6.916700e+03             0.10                 0.33

     variacao_semestral  variacao_anual  variacao_doze_meses
0                   NaN             NaN                  NaN
1                   NaN             NaN                  NaN
2                   NaN             NaN                  NaN
3                   NaN             NaN                  NaN
4                   NaN             NaN                  NaN
..                  ...             ...                  ...
533                2.13            2.59                 3.53
534                1.01            2.91                 4.51
535                0.60            3.04                 4.14
536                0.34            3.14                 3.85
537                0.34            3.14                 3.85

[538 rows x 8 columns]

## 3.3 - Reading resources

### 3.3.1 - Listing file paths

In [115]:
data = {
    "arrecadacao_estado": "C:\RevenueByState\data\\arrecadacao-estado.csv"
}

### 3.3.2 - Defining Schemas

In [117]:
# Defining the schema (translating columns from Portuguese to English)
collection_state_schema = StructType(
    [
        StructField(name="year", dataType=IntegerType(), nullable=True),
        StructField(name="month", dataType=StringType(), nullable=True),
        StructField(name="state", dataType=StringType(), nullable=True),
        StructField(name="import_tax", dataType=DoubleType(), nullable=True),
        StructField(name="export_tax", dataType=DoubleType(), nullable=True),
        StructField(name="ipi_tobacco", dataType=DoubleType(), nullable=True),
        StructField(name="ipi_beverages", dataType=DoubleType(), nullable=True),
        StructField(name="ipi_automobiles", dataType=DoubleType(), nullable=True),
        StructField(name="ipi_linked_imports", dataType=DoubleType(), nullable=True),
        StructField(name="ipi_others", dataType=DoubleType(), nullable=True),
        StructField(name="individual_income_tax", dataType=DoubleType(), nullable=True),
        StructField(name="corporate_income_tax_financial_entities", dataType=DoubleType(), nullable=True),
        StructField(name="corporate_income_tax_other_companies", dataType=DoubleType(), nullable=True),
        StructField(name="withholding_income_tax_employment_income", dataType=DoubleType(), nullable=True),
        StructField(name="withholding_income_tax_capital_income", dataType=DoubleType(), nullable=True),
        StructField(name="withholding_income_tax_overseas_remittances", dataType=DoubleType(), nullable=True),
        StructField(name="withholding_income_tax_other_income", dataType=DoubleType(), nullable=True),
        StructField(name="tax_on_financial_operations", dataType=DoubleType(), nullable=True),
        StructField(name="rural_land_tax", dataType=DoubleType(), nullable=True),
        StructField(name="provisional_tax_on_financial_transactions", dataType=DoubleType(), nullable=True),
        StructField(name="provisional_contribution_on_financial_transactions", dataType=DoubleType(), nullable=True),
        StructField(name="cofins", dataType=DoubleType(), nullable=True),
        StructField(name="cofins_financial_institutions", dataType=DoubleType(), nullable=True),
        StructField(name="cofins_other_sectors", dataType=DoubleType(), nullable=True),
        StructField(name="contribution_for_social_integration_program", dataType=DoubleType(), nullable=True),
        StructField(name="contribution_for_social_integration_program_financial_institutions", dataType=DoubleType(), nullable=True),
        StructField(name="contribution_for_social_integration_program_other_sectors", dataType=DoubleType(), nullable=True),
        StructField(name="social_contribution_on_net_profit", dataType=DoubleType(), nullable=True),
        StructField(name="social_contribution_on_net_profit_financial_institutions", dataType=DoubleType(), nullable=True),
        StructField(name="social_contribution_on_net_profit_other_sectors", dataType=DoubleType(), nullable=True),
        StructField(name="contribution_for_intervention_in_economic_domain_fuels_non_deductible", dataType=DoubleType(), nullable=True),
        StructField(name="contribution_for_intervention_in_economic_domain_fuels", dataType=DoubleType(), nullable=True),
        StructField(name="contribution_to_social_security_plan_public_servants", dataType=DoubleType(), nullable=True),
        StructField(name="contributions_to_social_security_plan_public_servants", dataType=DoubleType(), nullable=True),
        StructField(name="contributions_to_special_fund_development_inspection_activities", dataType=DoubleType(), nullable=True),
        StructField(name="fiscal_recovery_program", dataType=DoubleType(), nullable=True),
        StructField(name="special_installment_payment_program", dataType=DoubleType(), nullable=True),
        StructField(name="withholding_tax_law_10833_article_30", dataType=DoubleType(), nullable=True),
        StructField(name="unified_payment", dataType=DoubleType(), nullable=True),
        StructField(name="other_administered_revenues", dataType=DoubleType(), nullable=True),
        StructField(name="other_revenues", dataType=DoubleType(), nullable=True),
        StructField(name="social_security_revenue", dataType=DoubleType(), nullable=True),
        StructField(name="social_security_revenue_individual_contributors", dataType=DoubleType(), nullable=True),
        StructField(name="social_security_revenue_other_sources", dataType=DoubleType(), nullable=True),
        StructField(name="administered_by_other_agencies", dataType=DoubleType(), nullable=True)
    ]
)

In [118]:
population_states_schema = StructType([
    StructField(name="state_uf", dataType=StringType(), nullable=True),
    StructField(name="year", dataType=IntegerType(), nullable=True),
    StructField(name="population_state", dataType=IntegerType(), nullable=True),
    StructField(name="economically_active_population", dataType=IntegerType(), nullable=True)
])

In [119]:
inflation_schema = StructType([
    StructField("year", IntegerType(), nullable=True),
    StructField("month", IntegerType(), nullable=True),
    StructField("index", FloatType(), nullable=True),
    StructField("monthly_variation", FloatType(), nullable=True),
    StructField("quarterly_variation", FloatType(), nullable=True),
    StructField("semiannual_variation", FloatType(), nullable=True),
    StructField("annual_variation", FloatType(), nullable=True),
    StructField("twelve_months_variation", FloatType(), nullable=True)
])

### 3.3.3 - Reading all files

In [120]:
try:
    collection_state_df = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("printSchema", "true") \
    .option("delimiter", ";") \
    .schema(collection_state_schema) \
    .load(data.get("arrecadacao_estado"))
except Exception as e:
    print(f"Error occurred while loading DataFrame: {e}")

In [121]:
# changing np.nan to None (for Spark) 
population_states_df = population_states_df.replace([np.nan], [None])
inflation_df = inflation_df.replace([np.nan], [None])

In [122]:
try:
    population_states_df = spark.createDataFrame(population_states_df, schema=population_states_schema)
    inflation_df = spark.createDataFrame(inflation_df, schema=inflation_schema)
except Exception as e:
    print(f"Error occurred while loading DataFrame: {e}")

In [ ]:
collection_state_df.printSchema()
population_states_df.printSchema()
inflation_df.printSchema()

In [ ]:
collection_state_df.show()

In [123]:
collection_state_df = collection_state_df.cache()
population_states_df = population_states_df.cache()
inflation_df = inflation_df.cache()

# 4 - Transformation

## 4.1 - Validate and Cleanse Data

### 4.1.1 - Joining tables (population_states and collection_state)

In [124]:
# alias for the tables
collection_state_df = collection_state_df.alias("cs")
population_states_df = population_states_df.alias("ps")

In [125]:
# joinin and selecting columns
collection_state_df = collection_state_df.join(
    population_states_df,
    (population_states_df.year == collection_state_df.year)
    &
    (collection_state_df.state == population_states_df.state_uf),
    "left"
).select(
    "cs.*",
    "ps.population_state",
    "ps.economically_active_population"
)

### 4.1.2 - Solving ASCII problem

In [127]:
# we have a non ASCII character (ç), so we need to translate
special_char = "�"

correct_char = "c"

collection_state_df = collection_state_df.withColumn("month", translate(col("month"), special_char, correct_char))

In [128]:
# changing month names from Portuguese to English
collection_state_df = collection_state_df.withColumn(
    "month",
    when(col("month") == "Janeiro", "january")
    .when(col("month") == "Fevereiro", "february")
    .when(col("month") == "Marco", "march")
    .when(col("month") == "Abril", "april")
    .when(col("month") == "Maio", "may")
    .when(col("month") == "Junho", "june")
    .when(col("month") == "Julho", "july")
    .when(col("month") == "Agosto", "august")
    .when(col("month") == "Setembro", "september")
    .when(col("month") == "Outubro", "october")
    .when(col("month") == "Novembro", "november")
    .when(col("month") == "Dezembro", "december")
    .otherwise(col("month"))
)

In [ ]:
collection_state_df.show()

### 4.1.3 - Checking count grouped by month

In [129]:
months_counts_names = collection_state_df.groupBy("month").count()
months_counts_names.show()

+---------+-----+
|    month|count|
+---------+-----+
|  october|  648|
|      may|  648|
|september|  648|
|   august|  648|
|    april|  675|
| november|  648|
|     july|  648|
|  january|  675|
| february|  675|
|    march|  675|
|     june|  648|
| december|  648|
+---------+-----+

### 4.1.4 - Adding month in numeric representation

In [130]:
months = {
    "january": 1,
    "february": 2,
    "march": 3,
    "april": 4,
    "may": 5,
    "june": 6,
    "july": 7,
    "august": 8,
    "september": 9,
    "october": 10,
    "november": 11,
    "december": 12
}

In [132]:
collection_state_df = collection_state_df.withColumn(
    "month_numeric",
    when(col("month") == "january", lit(months["january"]))
    .when(col("month") == "february", lit(months["february"]))
    .when(col("month") == "march", lit(months["march"]))
    .when(col("month") == "april", lit(months["april"]))
    .when(col("month") == "may", lit(months["may"]))
    .when(col("month") == "june", lit(months["june"]))
    .when(col("month") == "july", lit(months["july"]))
    .when(col("month") == "august", lit(months["august"]))
    .when(col("month") == "september", lit(months["september"]))
    .when(col("month") == "october", lit(months["october"]))
    .when(col("month") == "november", lit(months["november"]))
    .when(col("month") == "december", lit(months["december"]))
    .otherwise(None)  # Handle any unexpected values
)

### 4.1.5 - Checking count grouped by month in numeric representation

In [134]:
numeric_month_count = collection_state_df.groupBy("month_numeric").count()
numeric_month_count.show()

+-------------+-----+
|month_numeric|count|
+-------------+-----+
|           12|  648|
|            1|  675|
|            6|  648|
|            3|  675|
|            5|  648|
|            9|  648|
|            4|  675|
|            8|  648|
|            7|  648|
|           10|  648|
|           11|  648|
|            2|  675|
+-------------+-----+

### 4.1.6 - Joining tables (collection_state and inflation_df)

#### 4.1.6.1 - Tables alias

In [135]:
collection_state_df = collection_state_df.alias("cs")
inflation_df = inflation_df.alias("inf")

### 4.1.6.1 - Joining both tables with alias

In [72]:
collection_state_df = collection_state_df.join(
    inflation_df,
    (collection_state_df.year == inflation_df.year)
    &
    (collection_state_df.month_numeric == inflation_df.month),
    "left"
).select(
    "cs.*",
    "inf.index",
    "inf.monthly_variation",
    "inf.quarterly_variation",
    "inf.semiannual_variation",
    "inf.annual_variation"
)

In [ ]:
collection_state_df.show()

### 4.1.7 - Removing duplicates

In [136]:
collection_state_df.dropDuplicates()

DataFrame[year: int, month: string, state: string, import_tax: double, export_tax: double, ipi_tobacco: double, ipi_beverages: double, ipi_automobiles: double, ipi_linked_imports: double, ipi_others: double, individual_income_tax: double, corporate_income_tax_financial_entities: double, corporate_income_tax_other_companies: double, withholding_income_tax_employment_income: double, withholding_income_tax_capital_income: double, withholding_income_tax_overseas_remittances: double, withholding_income_tax_other_income: double, tax_on_financial_operations: double, rural_land_tax: double, provisional_tax_on_financial_transactions: double, provisional_contribution_on_financial_transactions: double, cofins: double, cofins_financial_institutions: double, cofins_other_sectors: double, contribution_for_social_integration_program: double, contribution_for_social_integration_program_financial_institutions: double, contribution_for_social_integration_program_other_sectors: double, social_contribution_on_net_profit: double, social_contribution_on_net_profit_financial_institutions: double, social_contribution_on_net_profit_other_sectors: double, contribution_for_intervention_in_economic_domain_fuels_non_deductible: double, contribution_for_intervention_in_economic_domain_fuels: double, contribution_to_social_security_plan_public_servants: double, contributions_to_social_security_plan_public_servants: double, contributions_to_special_fund_development_inspection_activities: double, fiscal_recovery_program: double, special_installment_payment_program: double, withholding_tax_law_10833_article_30: double, unified_payment: double, other_administered_revenues: double, other_revenues: double, social_security_revenue: double, social_security_revenue_individual_contributors: double, social_security_revenue_other_sources: double, administered_by_other_agencies: double, population_state: int, economically_active_population: int, month_numeric: int]

### 4.1.8 - Handling missing values

In [137]:
# string(will be removed), numeric(flag 0)
def fill_values_na_with_zero_or_drop(df: DataFrame) -> DataFrame:
    for col, dtype in df.dtypes:
        if isinstance(df.schema[col].dataType, NumericType):
            df = df.fillna(0, subset=[col])
        elif isinstance(df.schema[col].dataType, StringType):
            df = df.dropna(subset=[col])
    return df

In [138]:
collection_state_df = fill_values_na_with_zero_or_drop(df = collection_state_df)

## 4.2 - Adding some columns

### 4.2.1 - Regions in Brazil

In [139]:
regions_uf = {
    "north": ("AC", "AP", "AM", "PA", "RO", "RR", "TO"),
    "north_east": ("AL", "BA", "CE", "MA", "PB", "PE", "PI", "RN", "SE"),
    "midwest": ("DF", "GO", "MT", "MS"),
    "south": ("PR", "RS", "SC"),
    "south_east": ("ES", "MG", "RJ", "SP")
}

In [140]:
# function to add column "region" based on regions_uf
def add_region_column(df: DataFrame, regions_uf: dict) -> DataFrame:
    df = df.withColumn(
        "region",
        when(col("state").isin(list(regions_uf["north"])), "north")
        .when(col("state").isin(list(regions_uf["north_east"])), "north_east")
        .when(col("state").isin(list(regions_uf["midwest"])), "midwest")
        .when(col("state").isin(list(regions_uf["south"])), "south")
        .when(col("state").isin(list(regions_uf["south_east"])), "south_east")
        .otherwise("unknown")
    )
    return df

In [141]:
collection_state_df = add_region_column(df=collection_state_df, regions_uf=regions_uf)

### 4.2.2 - Adding 'id' column

In [142]:
windowSpec = Window.orderBy("year")
collection_state_df = collection_state_df.withColumn("id", F.row_number().over(windowSpec))

# Reordering columns to have 'id' as the first column
id_first_columns = ['id'] + [col for col in collection_state_df.columns if col != 'id']
collection_state_final_df = collection_state_df.select(id_first_columns)

In [144]:
collection_state_final_df.show()

+---+----+-------+-----+-----------+----------+-----------+-------------+---------------+------------------+-----------+---------------------+---------------------------------------+------------------------------------+----------------------------------------+-------------------------------------+-------------------------------------------+-----------------------------------+---------------------------+--------------+-----------------------------------------+--------------------------------------------------+------------+-----------------------------+--------------------+-------------------------------------------+------------------------------------------------------------------+---------------------------------------------------------+---------------------------------+--------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------+-----------------------------------------------------+---------------------------------------------------------------+-----------------------+-----------------------------------+------------------------------------+---------------+---------------------------+--------------+-----------------------+-----------------------------------------------+-------------------------------------+------------------------------+----------------+------------------------------+-------------+----------+
| id|year|  month|state| import_tax|export_tax|ipi_tobacco|ipi_beverages|ipi_automobiles|ipi_linked_imports| ipi_others|individual_income_tax|corporate_income_tax_financial_entities|corporate_income_tax_other_companies|withholding_income_tax_employment_income|withholding_income_tax_capital_income|withholding_income_tax_overseas_remittances|withholding_income_tax_other_income|tax_on_financial_operations|rural_land_tax|provisional_tax_on_financial_transactions|provisional_contribution_on_financial_transactions|      cofins|cofins_financial_institutions|cofins_other_sectors|contribution_for_social_integration_program|contribution_for_social_integration_program_financial_institutions|contribution_for_social_integration_program_other_sectors|social_contribution_on_net_profit|social_contribution_on_net_profit_financial_institutions|social_contribution_on_net_profit_other_sectors|contribution_for_intervention_in_economic_domain_fuels_non_deductible|contribution_for_intervention_in_economic_domain_fuels|contribution_to_social_security_plan_public_servants|contributions_to_social_security_plan_public_servants|contributions_to_special_fund_development_inspection_activities|fiscal_recovery_program|special_installment_payment_program|withholding_tax_law_10833_article_30|unified_payment|other_administered_revenues|other_revenues|social_security_revenue|social_security_revenue_individual_contributors|social_security_revenue_other_sources|administered_by_other_agencies|population_state|economically_active_population|month_numeric|    region|
+---+----+-------+-----+-----------+----------+-----------+-------------+---------------+------------------+-----------+---------------------+---------------------------------------+------------------------------------+----------------------------------------+-------------------------------------+-------------------------------------------+-----------------------------------+---------------------------+--------------+-----------------------------------------+--------------------------------------------------+------------+-----------------------------+--------------------+-------------------------------------------+------------------------------------------------------------------+---------------------------------------------------------+---------------------------------+--------------------------------------------------------+-----------------------------------------------+---------------------------------------------------------------------+------------------------------------------------------+----------------------------------------------------+-----------------------------------------------------+---------------------------------------------------------------+-----------------------+-----------------------------------+------------------------------------+---------------+---------------------------+--------------+-----------------------+-----------------------------------------------+-------------------------------------+------------------------------+----------------+------------------------------+-------------+----------+
|  1|2000|january|   AC|      231.0|       0.0|   292096.0|          0.0|            0.0|             167.0|     1558.0|             177197.0|                                  643.0|                            676835.0|                               1084940.0|                              27652.0|                                      570.0|                            30894.0|                     1220.0|       28447.0|                                      0.0|                                             103.0|   1770475.0|                          0.0|                 0.0|                                   387364.0|                                                               0.0|                                                      0.0|                         392830.0|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           1243858.0|                                                  0.0|                                                        28329.0|                    0.0|                                0.0|                                 0.0|            0.0|                    20911.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|          557882|                             0|            1|     north|
|  2|2000|january|   AL|   475088.0|   33873.0|  1329338.0|     812470.0|            0.0|          141735.0|  3676847.0|             460804.0|                                  561.0|                           2672106.0|                               4454947.0|                             544056.0|                                   191382.0|                           309573.0|                    26939.0|     4252539.0|                                      0.0|                                           97248.0|   7493570.0|                          0.0|                 0.0|                                  2545254.0|                                                               0.0|                                                      0.0|                        1775834.0|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           3179753.0|                                                  0.0|                                                       125043.0|                    0.0|                                0.0|                                 0.0|            0.0|                   127189.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|         2827856|                             0|            1|north_east|
|  3|2000|january|   AM|1.1679405E7|       0.0|  1507146.0|    1791471.0|        27796.0|         4414483.0|  1800346.0|             700623.0|                                90828.0|                         1.0058713E7|                             1.0174718E7|                            1241708.0|                                  3580022.0|                          1029164.0|                   843881.0|       40171.0|                                      0.0|                                          832562.0| 4.4000981E7|                          0.0|                 0.0|                                1.1671871E7|                                                               0.0|                                                      0.0|                        7652859.0|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           4072567.0|                                                  0.0|                                                       161647.0|                    0.0|                                0.0|                                 0.0|            0.0|                   187988.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|         2817253|                             0|            1|     north|
|  4|2000|january|   AP|    24267.0|       0.0|   424862.0|       1419.0|          321.0|           22333.0|    12165.0|             139226.0|                                44135.0|                            586572.0|                               1444486.0|                             205031.0|                                     5825.0|                            34602.0|                     6999.0|        6477.0|                                      0.0|                                               0.0|   1682102.0|                          0.0|                 0.0|                                   574124.0|                                                               0.0|                                                      0.0|                         346964.0|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           3981691.0|                                                  0.0|                                                        38738.0|                    0.0|                                0.0|                                 0.0|            0.0|                    10769.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|          477032|                             0|            1|     north|
|  5|2000|january|   BA|1.0476457E7|      13.0|  5542123.0|  1.1533707E7|            0.0|         7496476.0|2.3743858E7|            2498647.0|                               177378.0|                         2.5695696E7|                             2.7277025E7|                          1.3374802E7|                                  2302766.0|                          2022200.0|                  1218485.0|     2446535.0|                                      0.0|                                       1.1923442E7| 8.1027229E7|                          0.0|                 0.0|                                2.3138894E7|                                                               0.0|                                                      0.0|                      1.5699282E7|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                         1.7001662E7|                                                  0.0|                                                       687022.0|                    0.0|                                0.0|                                 0.0|            0.0|                   536498.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|        13085768|                             0|            1|north_east|
|  6|2000|january|   CE|  5576921.0|       0.0|  4535653.0|    3148254.0|            0.0|         1734529.0|  3716458.0|            1971500.0|                                59874.0|                         1.3247447E7|                              1.594049E7|                            6311419.0|                                   948600.0|                          1941958.0|                   745659.0|      114393.0|                                      0.0|                                         4547426.0| 3.6892799E7|                          0.0|                 0.0|                                  8743377.0|                                                               0.0|                                                      0.0|                        6505382.0|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           8618224.0|                                                  0.0|                                                       506146.0|                    0.0|                                0.0|                                 0.0|            0.0|                   143952.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|         7431597|                             0|            1|north_east|
|  7|2000|january|   DF|  2254341.0|      43.0|  3197500.0|    2777942.0|            0.0|         2079272.0|  2433339.0|            3067374.0|                              3913461.0|                          7.158268E7|                            2.57391352E8|                         1.24316928E8|                                  7145075.0|                        3.5581549E7|                2.2472279E7|       64578.0|                                      0.0|                                      2.40726401E8|1.41910257E8|                          0.0|                 0.0|                                6.1028823E7|                                                               0.0|                                                      0.0|                      2.7194137E7|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                         7.4389957E7|                                                  0.0|                                                       534320.0|                    0.0|                                0.0|                                 0.0|            0.0|                3.3937318E7|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|         2051146|                             0|            1|   midwest|
|  8|2000|january|   ES|3.1950799E7|       0.0|  3598736.0|      20408.0|      1503039.0|        2.684043E7|  4036463.0|            1620843.0|                                 2542.0|                         2.9105465E7|                               9380778.0|                          1.0515327E7|                                  4717282.0|                          1703727.0|                   491261.0|     1563052.0|                                      0.0|                                           28681.0| 4.9157907E7|                          0.0|                 0.0|                                1.3289266E7|                                                               0.0|                                                      0.0|                      1.2890143E7|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           6038251.0|                                                  0.0|                                                      2164901.0|                    0.0|                                0.0|                                 0.0|            0.0|                   382985.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|         3097497|                             0|            1|south_east|
|  9|2000|january|   GO|  3747911.0|       0.0|  3236092.0|    5064141.0|      1091185.0|          986314.0|  2654994.0|            1401385.0|                                45754.0|                         1.8823998E7|                             1.3094463E7|                            6275215.0|                                   132749.0|                          1043647.0|                   638840.0|     2269467.0|                                      0.0|                                         3912150.0| 4.7986002E7|                          0.0|                 0.0|                                 1.356919E7|                                                               0.0|                                                      0.0|                        8180079.0|                                                     0.0|                                            0.0|                                                                  0.0|                                                   0.0|                                           7394364.0|                                                  0.0|                                                       658643.0|                    0.0|                                0.0|                                 0.0|            0.0|                   403579.0|           0.0|                    0.0|                                            0.0|                                  0.0|                           0.0|         5004196|                             0|            1|   midwest|